.fs {
  font-size: 0.7rem;
}

.wdt {
  width: 10%;
}

.fc {
  color: #fff;
}

.fc-red {
  color: red;
}

.vh {
  height: 80vh;
}

.list-style {
  list-style: none;
}

.vector {
  width: 1px;
  height: 25px;
}
